@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Welcome</h2>
    <h3>Examples of using SKit libraries and modern technologies</h3>
</div>

<!-- Card group -->
<div class="card-group">

    <!-- Card -->
    <div class="card m-1">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/dotnet5_platform.png"
                 alt=".NET">
            <a href="https://dotnet.microsoft.com/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">.NET</h4>
            <!-- Text -->
            <p class="card-text">
                Free. Cross-platform. Open source.<br />
                The current application is focused on the .NET 6.0 platform and the primary WebApp template is used.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="https://dotnet.microsoft.com/" target="_blank" class="btn btn-primary btn-md">About .NET</a>
        </div>
        <!-- Card content -->

    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card m-1">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/mdb-main.jpg"
                 alt="MD Bootstrap">
            <a href="https://mdbootstrap.com/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">Material Design for Bootstrap</h4>
            <!-- Text -->
            <p class="card-text">
                The world's most popular framework for building responsive, mobile-first websites and apps.
            </p>
            <a href="https://mdbootstrap.com/" target="_blank" class="btn btn-primary btn-md">More details</a>
        </div>
        <!-- Card content -->

    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card m-1">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/serilog.png"
                 alt="Serilog">
            <a href="https://serilog.net/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">Serilog</h4>
            <!-- Text -->
            <p class="card-text">
                Provides diagnostic logging to files, the console, and elsewhere.<br />
                <a href="~/examples/logs/">See the result</a> of the daily protocol.
            </p>
            <a href="https://serilog.net/" target="_blank" class="btn btn-primary btn-md">More details</a>
        </div>
        <!-- Card content -->

    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card m-1">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/mailkit.png"
                 alt="MailKit">
            <a href="http://www.mimekit.net/" target="_blank">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">MailKit</h4>
            <!-- Text -->
            <p class="card-text">
                MailKit is a cross-platform mail client library built on top of MimeKit.
            </p>
            <a href="http://www.mimekit.net/" target="_blank" class="btn btn-primary btn-md">More details</a>
        </div>
        <!-- Card content -->

    </div>
    <!-- Card -->

</div>
<!-- Card group -->
